section{
	
}
.d-flex{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}

.item{
	text-align: center;
	font-size: 300;
	font-size: 16px;
	color:#888888;
	img{
		
		 
	
	}
	h3{
		position: relative;
		font-weight: bold;
		font-size: 18px;
		margin:20px 0px;
		color:black;
		 &:after{
			display: block;
			position: absolute;
			left: 150px;
			right: 0;
			bottom:-5px;
			width: 0;
			height: 2px; 
			background-color: #f57365; 
			content: "";
			transition: width 0.3s ease-out;
			
		} 

			&:hover:after,
			&:focus:after {
				width: 25%;
				

			}
			&:hover{
				cursor: pointer;
			}
	}
}
.get-section__wrapper{
	-ms-align-items: center;
	align-items: flex-end;
	margin: 90px 0;
	background-color: #fff;

}
.introdusing-app__wrapper{
	padding-top: 100px;
}
.introdusing-app{
	background-color: #f7f7f7;
	text-align: left;
	

	h3{
		position: relative;
		font-weight: bold;
		font-size: 18px;
		margin:20px 0px;
		color:black;
		 &:after{
			display: block;
			position: absolute;
			left: 0px;
			right: 0;
			bottom:-5px;
			width: 0;
			height: 2px; 
			background-color: #f57365; 
			content: "";
			transition: width 0.3s ease-out;
			
		} 

			&:hover:after,
			&:focus:after {
				width: 20%;
				

			}
			&:hover{
				cursor: pointer;
			}
	}
	.item{
		margin-right: 50px;
		width: 50%;
		position: relative;
		-ms-align-items: center;
		
		&:last-child{
			margin-right: 0;
			margin-left: 50px;
			margin-top: 70px;
			position: static;
		}
	}
	
		
		.iphone{
			position: absolute;
			top:150px;
			left:65px;
		}
	.app-links{
		margin-top: 30px;

	}
}
.comment-section{
	
	background: url('images/Layer 17.png') center center no-repeat;
	position: relative;
	font-size: 30px;
	margin-bottom: 100px;
	color: #7a6e7a;
	padding: 80px 0px;

	
}
h4{
	font-style: italic;
	font-weight: lighter;
}
.bcg{
	background-color: #4a3949;
}
.comment-section__item{
	max-width: 900px;
	text-align: center;
	margin: 0 auto;
	
	span{
		font-size: 18px;
	}
}
.recipes-section{
	width: 1600px;
	margin-bottom: 50px;
}
.recipes-section__wrapper{
	text-align: center;
	width: 1600px;
}
.title{
	margin-top: 30px;

	h2{
			font-size: 36px;
			color:white;
			text-transform: uppercase;
		}
		span{
			font-style: italic;
			font-size: 16px;
			color:white;
		}
}
.recipe-item__italian{
		min-width: 300px;
		height: 225px;
		background: url('images/Layer 5.png') center center no-repeat;
		
	
}
.recipe-item__indian{
		min-width: 300px;
		background: url('images/Layer 7.png') center center no-repeat;
	
}
.recipe-item__french{
		min-width: 300px;
		background: url('images/Layer 8.png') center center no-repeat;
	
}
.recipe-item__steakhouse{
		min-width: 300px;
		background: url('images/Layer 9.png') center center no-repeat;
	
}
.recipe-item__seafood{
		min-width: 300px;
		background: url('images/Layer 10.png') center center no-repeat;
	
}