section{
	
}
.d-flex{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}

.item{
	text-align: center;
	font-size: 300;
	font-size: 16px;
	color:#888888;
	img{
		
		 
	
	}
	h3{
		position: relative;
		font-weight: bold;
		font-size: 18px;
		margin:20px 0px;
		color:black;
		 &:after{
			display: block;
			position: absolute;
			left: 150px;
			right: 0;
			bottom:-5px;
			width: 0;
			height: 2px; 
			background-color: #f57365; 
			content: "";
			transition: width 0.3s ease-out;
			
		} 

			&:hover:after,
			&:focus:after {
				width: 25%;
				

			}
			&:hover{
				cursor: pointer;
			}
	}
}
.get-section__wrapper{
	-ms-align-items: center;
	align-items: flex-end;
	margin: 90px 0;
	background-color: #fff;
		@media(max-width:768px ){
						-webkit-flex-direction: column;
						-moz-flex-direction: column;
						-ms-flex-direction: column;
						-o-flex-direction: column;
						flex-direction: column;
						max-width: 320px;
						margin: 10px auto;
					}

}
.introdusing-app__wrapper{
	padding-top: 100px;
	@media(max-width:768px ){
						-webkit-flex-direction: column;
						-moz-flex-direction: column;
						-ms-flex-direction: column;
						-o-flex-direction: column;
						flex-direction: column;
						
						
						margin: 10px auto;
					}
}
.introdusing-app{
	background-color: #f7f7f7;
	text-align: left;
	

	h3{
		position: relative;
		font-weight: bold;
		font-size: 18px;
		margin:20px 0px;
		color:black;
		 &:after{
			display: block;
			position: absolute;
			left: 0px;
			right: 0;
			bottom:-5px;
			width: 0;
			height: 2px; 
			background-color: #f57365; 
			content: "";
			transition: width 0.3s ease-out;
			
		} 

			&:hover:after,
			&:focus:after {
				width: 20%;
				

			}
			&:hover{
				cursor: pointer;
			}
	}
	.item{
		margin-right: 50px;
		width: 50%;
		position: relative;
		-ms-align-items: center;
		@media(max-width:768px ){
						margin: 0 auto;
						width: 100%;
						text-align: center;
					}
		&:first-child{
			@media(max-width:968px ){
						display: none;
					}
		}
		
		&:last-child{
			margin-right: 0;
			margin-left: 50px;
			margin-top: 70px;
			position: static;
			@media(max-width:968px ){
						margin: 0 auto;
						width: 100%;
						text-align: center;
						margin-bottom: 20px;
					}
		}
	}
	
		
	.app-links{
		margin-top: 30px;

	}
}
.comment-section{
	position: relative;
	width: 100%;
	height: 260px;
}
.comment-section__wrap{
	
	background: url('images/Layer 17.png') center center no-repeat;
	position: absolute;
	top: -180px;
	width: 100%;
	margin-bottom: 100px;
	color: #7a6e7a;
	padding: 80px 0px;
	@media(max-width:968px ){
						position: static;
					}

	
}
h4{
	font-style: italic;
	font-weight: lighter;
}
.bcg{
	background-color: #4a3949;
}
.comment-section__item{
	max-width: 900px;
	text-align: center;
	margin: 0 auto;
	
	span{
		font-size: 18px;
	}
}
.recipes-section{
	
	margin-bottom: 50px;
	h3{
		position: relative;
		font-weight: bold;
		font-size: 18px;
		margin:20px 0px;
		color:black;
		text-align: center;
		 &:after{
			display: block;
			position: absolute;
			left: 43%;
			right: 0;
			bottom:0px;
			top:25px;
			
			width: 0;
			height: 2px; 
			background-color: #f57365; 
			content: "";
			transition: width 0.3s ease-out;
			
		}
		&:hover:after,
			&:focus:after {
				width: 14%;
				

			}
			&:hover{
				cursor: pointer;
			} 
	}
}
.recipes-section__wrapper{
	text-align: center;
	-ms-align-items: center;
	align-items: center;
	justify-content: center;
	width: 100%;
	transition: width .2s;
	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	-o-flex-wrap: wrap;
	flex-wrap: wrap;

}
.recipe-item{
	
	position: relative;
	
	
	width: 20%;
		&:hover{
				
				 
				
			}
		
		img{
		
			&:hover{
				
			}
		}
		

		@media(max-width:1024px ){
					width: 23%;
					margin:5px 5px;
				}
				@media(max-width:768px ){
					width: 48%;
					
				}
				@media(max-width:568px ){
					width: 100%;
					margin:5px 0;
				}

		
		
    			
		
}
.title{
	
	position: absolute;
	top:0;
	bottom: 0;
	left:0;
	right: 0;
	padding-top: 20%;
		&:hover{
				transform:scale(1.2);
				transition-duration: 0.8s;
		}
		h2{
			font-size: 36px;
			color:white;
			text-transform: uppercase;
			@media(max-width:1280px ){
					font-size: 32px;
				}
				@media(max-width:768px ){
					font-size: 28px;
				}
		}
		span{
			font-style: italic;
			font-size: 16px;
			color:white;
		}
}
.counter-wrapper{
	justify-content: space-between;
	text-align: center;
	margin-bottom: 50px;
	@media(max-width:968px ){
						-webkit-flex-direction: column;
						-moz-flex-direction: column;
						-ms-flex-direction: column;
						-o-flex-direction: column;
						flex-direction: column;
					}
	h2{
		font-size: 36px;
		font-weight: bold;
	}
	span{
		font-weight: lighter;
		font-size: 16px;
		text-transform: capitalize;
	}
	.counter-item{
		
		@media(max-width:968px ){
						margin: 10px auto;
					}
	}
}
